site_name: CTF Writeups
site_description: Collection of Capture The Flag challenge writeups and security research
site_author: GougasseHamza
site_url: https://GougasseHamza.github.io/writeups/

repo_name: GougasseHamza/writeups
repo_url: https://github.com/GougasseHamza/writeups
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  font:
    text: Roboto
    code: Roboto Mono

  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.footer
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate
    - content.action.edit
    - content.action.view

  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - tables
  - footnotes
  - attr_list
  - def_list
  - md_in_html
  - toc:
      permalink: true
      toc_depth: 3

plugins:
  - search:
      lang: en
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
  - tags

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/GougasseHamza

  analytics:
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/thumb-up-outline
          name: This page was helpful
          data: 1
          note: Thanks for your feedback!
        - icon: material/thumb-down-outline
          name: This page could be improved
          data: 0
          note: Thanks for your feedback!

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - ASIS CTF:
    - Overview: asis-ctf/index.md
    - Sanchess: asis-ctf/sanchess.md
    - Rick Gallery: asis-ctf/rick-gallery.md
    - ASIS Mail: asis-ctf/asis-mail.md
    - Bookmarks: asis-ctf/bookmarks.md
  - About: about.md

copyright: Copyright &copy; 2024-2026 GougasseHamza
